@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
      }
    .homepage {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        z-index: 0;
    }
}
.header{
    display: flex;
    flex-direction: row;
    width:auto;
    height: 1%;
    z-index:0;
    background-color: #030202;
    color: white;
    text-align: center;
    align-items: center;
    
}
.logo{
    width: 20px;
    height:20px;
    display: flex;
    flex:1;
    margin-right: 10%;
    margin-left: 10%;
}
.tabs{
    width: 30%;
    height:1%;
    display: flex;
    align-items: center;
    flex:2;
    margin-left:5%;
    padding: 2%;
}
.hero{
    display: flex;
    height: 867px;
    width: 100%;
    flex: 3;
    z-index: 1;
    flex-direction: row;
    background-color: rgb(131, 127, 122);
    color: black;
    justify-content: center;
}

.left {
    display: flex;
    float: left;
    width: 50%;
    height: 867px;
    transition: flex 0.5s ease, transform 0.5s ease, opacity 0.5s ease; /* Add opacity transition */
    opacity: 1;
    align-items: center;
    background-color: aliceblue;
    background-image: url('../assets/rutpatel.png');
    background-size: 70%; /* Adjust the size of the background image */
    background-position: left 48% bottom; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fix the background image in place */
}
.right {
    display: flex;
    width: 50%;
    height: 867px;
    float: right;
    transition: flex 0.5s ease, transform 0.5s ease, opacity 0.5s ease; /* Add opacity transition */
    opacity: 1;
    background-image: url('../assets/rutpatel.png');
    background-size: 70%; /* Adjust the size of the background image */
    background-position: bottom right 52%; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fix the background image in place */
}

.left:hover {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 867px;
    transform: translateX(-10%); /* Move right section to the right */
    
}

.left:hover ~ .right {
    opacity: 0;
    display: flex;
    overflow: hidden;
    visibility: hidden;
}

.right:hover {
    float: right;
    display: flex;
    opacity: 1;
    width: 50%;
    height: 867px;
    transform: translateX(10%); /* Move right section to the right */
    background-image: url('../assets/rutpatel.png');
    background-size: 70%; /* Adjust the size of the background image */
    background-position: bottom right 52%; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fix the background image in place */
}
.right:hover ~ .left {
    opacity: 0;
    display: flex;
    visibility: hidden;
    width: 5%;
    transform: translateX(-10%);
}

.name{
    width: 20%;
    height: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
}